@media screen and (max-width:1020px){
   
    .smedia-icon i {
        font-size: 6rem;
        margin-top: 1rem;
       
       
    }
    .smedia-icon img {
        height: 120px;
        width: 130px;
        margin-top: -10px;
     
    }
}
@media screen and (max-width:825px){
    
#platform-section h1 {

    font-size: 3rem;
    
}
}
@media screen and (max-width:600px){
    .head-style{
        margin-top:0rem;
    }
}
@media screen and (max-width:560px){
    .eventimages-container {
        height: 200px;
        width: 200px;
        text-align: center;
        margin: 0rem;
    }
    .smedia-icon {
        margin: 0rem;
        margin-top: 1rem;
    }
    #platform-section h1 {
        margin: 0rem;
        font-size: 2rem;
        
    }
    #contact-us h1 {
   font-size: 2rem;
    
    }
}
@media screen  and (max-width:350px){
    .head-style{
        font-size: 2.1rem;
    }
    .eventimages-container {
        height: 170px;
        width: 190px;
        text-align: center;
       align-content: center;
       
    }
    #header-content img {
        height: 250px;
        width: 250px;
        
    }
    .smedia-icon i{
        font-size: 5rem;
    }
    .smedia-icon img {
        height: 80px;
        width:100px;
        margin-top: 1rem;
    }
    
#contact-us a {
   display: block;
   margin-bottom: 0rem;
   padding-bottom: 0rem;


}
h3 {
  
    font-size: 2rem;
}

ul li {
   
 
    font-size: 1.2rem;

}
    
}