@media screen and (max-width:810px){
   .eventimages-container{
       height: 300px;
       width: 300px;
   }
   h3 {
    margin-top: 5rem;
   
}
#platform-section h1 {
    margin-top: 8rem;
    font-size: 3rem;
   
}

.smedia-icon {
    

    margin-top: 8rem;
    
   
}
#contact-us h1 {
    margin-top: 1rem;
   
}
}
@media screen and  (max-width:766px){
    #event-section{
        height: auto;
    }
    #contact-us h1 {
        margin-top: 0rem;
       
    }
    #platform-section {

        height: auto;
     
     
        
    }
    .head-style {
        
        margin-top: 2rem;
    
    }
}
@media screen and (max-width:720px){
    .head-style {
        
        margin-top: 2rem;
    
    }
}
@media screen and (max-width:430px){
    #contact-us h1 {
       
        font-size: 2rem;
        
    
    }
    #platform-section h1 {
     
        font-size: 2rem;
        
    }
    .smedia-icon {
       margin-top: 5rem;
      

    }
    .smedia-icon i {
        font-size: 6rem;
        
        
        
       
    }
    
    .smedia-icon img {
        height: 110px;
        width: 120px;
        
        
    }
    #contact-us  {
        height: auto;
         
     
     }
}
@media screen and (max-width:380px){
    #contact-us  {
       height: auto !important;
        
    
    }
    .head-style {
        
        margin-top: 1rem;
    
    }
    .smedia-icon img {
       margin-top: 1rem;
        
        
    }
    #platform-section h1 {
        margin-top: 6rem;
        
    }
    #platform-section  {
     
       height: auto;
        
    }
    #contact-us  {
        margin-top: 0rem;
              
          
          }
          #contact-us  h1 {
            
            margin-top: 9rem;
        }
}
@media screen and (max-width:340px){
    .eventimages-container{
        height: 240px;
        width: 240px;
    }
    .head-style {
        
        font-size: 2.5rem;
    
    }
    #header-content img {
        height: 250px;
        width: 250px;
        
    }
    #contact-us  {
        margin-top: -1rem;
              
          
          }
          #contact-us  h1 {
            
            margin-top: 9rem;
        }
}
@media screen and (max-width:290px){
    .head-style {
        
        font-size: 2rem;
    
    }
    h2 {
        font-size: 1.6rem;
       
    
    }
    h3 {
       
        font-size: 2.2rem;
       
    }
    
    ul li {
      
       
        font-size: 1.5rem;
    
    }
    .smedia-icon {
      margin-left: 1rem;
    }
    
    .smedia-icon i{
        font-size: 3rem;
    }
    .smedia-icon img{
        height: 60px;
        width: 80px;
        margin-top: 0rem;
    }
    #contact-us  {
        margin-top: -1rem;
              
          
          }
          #contact-us  h1 {
            
            margin-top: 9rem;
        }
   
}
@media screen and (max-width:250px){
    #header-content img {
        height: 200px;
        width: 200px;
        
    }
    .eventimages-container{
        height: 200px;
        width: 200px;
    }
    .head-style {
        
        font-size: 1.5rem;
    
    }
    h2 {
        font-size: 1.2rem;
       
    
    }
    h3 {
       
        font-size: 1.8rem;
       
    }
    
    ul li {
      
       
        font-size: 1.3rem;
    
}